/* slick slider default styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


* {
  font-family: Helvetica Neue;
}
.btn-salwood {
  background: #c4c451;
  color: #fff;
}
.btn-salwood:hover {
  background: #a0a031ff;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
